.outerContainer{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
width: 100%;
margin-top: 23px;
}
.leftContainerr{
    position:relative;
    width:35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    height: 90vh;
}
.rightContainer{
    width:30%;
    display:block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    height: 90vh;
}
.middleContainer{
    width:30%;
    display: block;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
    overflow-y: scroll;
    height: 90vh;
}